Repository KabGo-Capstone/KabGo-General: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-supply-service-job, run-build-demand-service-job, run-build-admin-client-job, run-build-all-server-service-job

fix build.sh with specific character
  servers/grpc/build.sh
  servers/grpc/proto_pb/demand/demand_grpc_pb.d.ts
  servers/grpc/proto_pb/demand/demand_grpc_pb.js
  servers/grpc/proto_pb/demand/demand_pb.d.ts
  servers/grpc/proto_pb/demand/demand_pb.js
  servers/grpc/proto_pb/supply/supply_grpc_pb.d.ts
  servers/grpc/proto_pb/supply/supply_grpc_pb.js
  servers/grpc/proto_pb/supply/supply_pb.d.ts
  servers/grpc/proto_pb/supply/supply_pb.js
  servers/supply/common/services/demand.service.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

trigger ci/cd
  servers/grpc/protos/demand.proto
Due: run-build-all-server-service-job

update ci/cd for admin service
  .circleci/config.yml
  .circleci/continue_config.yml
  docker-compose/docker-compose-prod.yml
  servers/grpc/protos/demand.proto
  servers/grpc/protos/supply.proto
Due: run-build-all-server-service-job

fix docker production admin service
  .circleci/config.yml
  docker-compose/docker-compose-prod.yml
Due: none

fix git tracking mono repo
  .circleci/config.yml
  .circleci/continue_config.yml
  docker-compose/docker-compose-prod.yml
Due: none

update search page
  clients/customer/android/app/src/main/AndroidManifest.xml
  clients/customer/ios/Podfile.lock
  clients/customer/ios/Runner/AppDelegate.swift
  clients/customer/lib/app.dart
  clients/customer/lib/data/data.dart
  clients/customer/lib/functions/determinePosition.dart
  clients/customer/lib/models/location_model.dart
  clients/customer/lib/providers/currentLocationProvider.dart
  clients/customer/lib/screens/home/animated_text.dart
  clients/customer/lib/screens/home/home.dart
  clients/customer/lib/screens/search/search.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/widgets/favorite_location_item.dart
  clients/customer/lib/widgets/search_input.dart
  clients/customer/lib/widgets/suggestiion_arrival_item.dart
  clients/customer/lib/widgets/suggestion_item.dart
  clients/customer/pubspec.lock
  clients/customer/pubspec.yaml
  clients/customer/windows/flutter/generated_plugin_registrant.cc
  clients/customer/windows/flutter/generated_plugins.cmake
Due: none

admin base layout
  clients/admin/.babelrc
  clients/admin/.env
  clients/admin/Dockerfile
  clients/admin/README.md
  clients/admin/config-overrides.js
  clients/admin/package-lock.json
  clients/admin/package.json
  clients/admin/public/index.html
  clients/admin/src/assets/svg/Sidebar/kabgo.svg
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Navbar/Navbar.tsx
  clients/admin/src/components/Sidebar/Sidebar.tsx
  clients/admin/src/index.tsx
  clients/admin/src/layouts/BaseLayout.tsx
Due: run-build-admin-client-job

update UI nav bar - sidebar
  clients/admin/src/assets/images/avatar.png
  clients/admin/src/assets/svg/Sidebar/logout.svg
  clients/admin/src/components/Navbar/Navbar.tsx
  clients/admin/src/components/Sidebar/Sidebar.tsx
Due: run-build-admin-client-job

api for get, verify, delete, create driver with dummy data
  servers/admin/.env
  servers/admin/common/app.ts
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/controllers/index.ts
  servers/admin/common/controllers/user.example.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
  servers/admin/common/services/demand.service.ts
  servers/admin/common/services/mailer.builder.ts
  servers/admin/common/services/supply.service.ts
  servers/admin/package-lock.json
  servers/admin/package.json
Due: none

change name of method
  servers/admin/common/controllers/driver.controller.ts
Due: none

admin update
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Edit/edit.tsx
  clients/admin/src/components/Navbar/Navbar.tsx
  clients/admin/src/layouts/BaseLayout.tsx
Due: run-build-admin-client-job

update deploy script
  scripts/deploy.sh
  servers/admin/common/services/demand.service.ts
  servers/admin/common/services/supply.service.ts
Due: none

admin view driver profile v0.0
  clients/admin/.env
  clients/admin/src/assets/svg/Sidebar/upload_img.svg
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Edit/edit.tsx
  clients/admin/src/layouts/BaseLayout.tsx
  clients/admin/src/utils/axiosClient.ts
Due: run-build-admin-client-job

change proto generate tools
  clients/admin/.env
  clients/admin/Dockerfile
  servers/admin/common/app.ts
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
  servers/admin/common/services/demand.service.ts
  servers/admin/common/services/supply.service.ts
  servers/demand/common/protos/customers.proto.ts
  servers/demand/common/services/grpc.ts
  servers/demand/common/services/supply.service.ts
  servers/grpc/build.sh
  servers/grpc/models/.gitkeep
  servers/grpc/proto_pb/demand/demand_grpc_pb.d.ts
  servers/grpc/proto_pb/demand/demand_grpc_pb.js
  servers/grpc/proto_pb/demand/demand_pb.d.ts
  servers/grpc/proto_pb/demand/demand_pb.js
  servers/grpc/proto_pb/supply/supply_grpc_pb.d.ts
  servers/grpc/proto_pb/supply/supply_grpc_pb.js
  servers/grpc/proto_pb/supply/supply_pb.d.ts
  servers/grpc/proto_pb/supply/supply_pb.js
  servers/grpc/protos/supply.proto
  servers/package-lock.json
  servers/package.json
  servers/supply/common/dummy_data/dummy_data.js
  servers/supply/common/protos/drivers.proto.ts
  servers/supply/common/services/demand.service.ts
  servers/supply/common/services/grpc.ts
Due: run-build-supply-service-job, run-build-demand-service-job, run-build-admin-client-job, run-build-all-server-service-job

build grpc
  servers/grpc/protos/demand.proto
Due: run-build-all-server-service-job

update home screen
  clients/customer/lib/app.dart
  clients/customer/lib/assets/hot_location_images/hot_location_1.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_10.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_2.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_3.webp
  clients/customer/lib/assets/hot_location_images/hot_location_4.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_5.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_6.webp
  clients/customer/lib/assets/hot_location_images/hot_location_7.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_8.jpeg
  clients/customer/lib/assets/hot_location_images/hot_location_9.jpeg
  clients/customer/lib/assets/images/driver_icon.png
  clients/customer/lib/assets/images/group_people.png
  clients/customer/lib/data/data.dart
  clients/customer/lib/screens/home/components/animated_text.dart
  clients/customer/lib/screens/home/components/bottom_navigation.dart
  clients/customer/lib/screens/home/components/favorite_location.dart
  clients/customer/lib/screens/home/components/find_arrival_button.dart
  clients/customer/lib/screens/home/components/hot_location.dart
  clients/customer/lib/screens/home/components/map_picker.dart
  clients/customer/lib/screens/home/components/more_way_to_move.dart
  clients/customer/lib/screens/home/components/recently_location.dart
  clients/customer/lib/screens/home/home.dart
  clients/customer/lib/screens/search/search.dart
  clients/customer/lib/widgets/favorite_location_item.dart
  clients/customer/lib/widgets/recently_arrival_item.dart
  clients/customer/lib/widgets/search_input.dart
  clients/customer/lib/widgets/suggestiion_arrival_item.dart
  clients/customer/pubspec.yaml
Due: none

rebuild all servers
  servers/grpc/build.sh
  servers/grpc/protos/demand.proto
  servers/grpc/protos/supply.proto
Due: run-build-all-server-service-job

trigger ci/cd
  servers/grpc/protos/demand.proto
  servers/grpc/protos/supply.proto
Due: run-build-all-server-service-job

trigger deployment
  servers/grpc/build.sh
  servers/grpc/protos/demand.proto
Due: run-build-all-server-service-job

change new script for gen protobuf
  servers/grpc/build.sh
  servers/grpc/protos/demand.proto
  servers/supply/common/app.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

update build prod code
  servers/admin/Dockerfile.production
  servers/admin/__tests__/health-check.test.js
  servers/admin/package.json
  servers/admin/tsconfig.json
  servers/demand/Dockerfile.production
  servers/demand/__tests__/health-check.test.js
  servers/demand/package.json
  servers/demand/tsconfig.json
  servers/supply/Dockerfile.production
  servers/supply/__tests__/health-check.test.js
  servers/supply/package.json
  servers/supply/tsconfig.json
Due: run-build-supply-service-job, run-build-demand-service-job

fix import admin service controller & change connect function to client
  servers/admin/common/controllers/driver.controller.ts
  servers/demand/common/app.ts
Due: run-build-demand-service-job

update deploy script
  scripts/deploy.sh
  servers/grpc/protos/demand.proto
  servers/grpc/protos/supply.proto
Due: run-build-all-server-service-job

admin view driver's profile
  clients/admin/src/assets/images/bao_hiem_Xe.jpg
  clients/admin/src/assets/images/giay_dk_xe.jpg
  clients/admin/src/assets/images/giay_phep_lai_xe.jpg
  clients/admin/src/assets/images/identity card 2.jpg
  clients/admin/src/assets/images/identity card.jpg
  clients/admin/src/assets/images/motocycle.png
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
  clients/admin/src/components/Details/step4content.tsx
  clients/admin/src/components/Edit/edit.tsx
  clients/admin/src/layouts/BaseLayout.tsx
Due: run-build-admin-client-job

fix grpc
  clients/admin/.env
  servers/admin/package.json
  servers/grpc/models/demand.ts
  servers/grpc/models/supply.ts
Due: run-build-admin-client-job, run-build-all-server-service-job

allow * cors
  servers/admin/common/constants/whitelist.origins.ts
  servers/demand/common/constants/whitelist.origins.ts
  servers/supply/common/constants/whitelist.origins.ts
Due: run-build-supply-service-job, run-build-demand-service-job

update UI admin
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
  clients/admin/src/components/Details/step4content.tsx
  clients/admin/src/routes/AppRoutes.tsx
Due: run-build-admin-client-job

commit to pull
  servers/admin/package-lock.json
  servers/admin/package.json
  servers/grpc/models/demand.ts
  servers/grpc/models/supply.ts
Due: run-build-all-server-service-job

dynamic admin
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Navbar/Navbar.tsx
  clients/admin/src/layouts/BaseLayout.tsx
  clients/admin/src/routes/AppRoutes.tsx
Due: run-build-admin-client-job

admin delete driver
  clients/admin/src/components/Content/ContentComponent.tsx
Due: run-build-admin-client-job

create disapprove api & fix delete api
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/services/supply.service.ts
Due: none

config GraphQL server & adding basic resolver functions
  servers/supply/package-lock.json
Due: run-build-supply-service-job

config GraphQL server & adding basic resolver functions
  servers/admin/common/app.ts
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
  servers/admin/common/services/apollo.ts
  servers/admin/package-lock.json
  servers/admin/package.json
Due: none

change snakecase to camelcase
  servers/admin/common/controllers/driver.controller.ts
Due: none

fix package-lock json conflict
  servers/admin/package-lock.json
Due: none

fix UI admin
  clients/admin/src/components/Content/ContentComponent.tsx
Due: run-build-admin-client-job

commit to pull
  servers/supply/package-lock.json
Due: run-build-supply-service-job

feat: [GRAPH] APIs for Service Approvals
  servers/admin/common/services/apollo.ts
Due: none

Path conditions:
  run-build-supply-service-job: any of: servers/supply/.*
  run-build-demand-service-job: any of: servers/demand/.*
  run-build-admin-client-job: any of: clients/admin/.*
  run-build-all-server-service-job: any of: servers/grpc/.*
