Repository KabGo-Capstone/KabGo-General: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-supply-service-job, run-build-demand-service-job, run-build-admin-client-job, run-build-all-server-service-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
    path-filtering: circleci/path-filtering@0.1.1

workflows:
    detect-commit-changes:
        jobs:
            - path-filtering/filter:
                  name: check-updated-files
                  mapping: |
                      servers/supply/.* run-build-supply-service-job true
                      servers/demand/.* run-build-demand-service-job true
                      clients/admin/.* run-build-admin-client-job true
                      servers/grpc/.* run-build-all-server-service-job true
                  base-revision: main
                  config-path: .circleci/continue_config.yml

add filters on status column
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/tailwind.config.js
  servers/grpc/models/demand.ts
  servers/grpc/models/supply.ts
Due: run-build-admin-client-job, run-build-all-server-service-job

TV: update validator, fix UI, image picker, config version image picker
  clients/driver/.env
  clients/driver/assets/images/register/card.png
  clients/driver/assets/images/register/cardcredit.png
  clients/driver/assets/images/register/image_template1.jpg
  clients/driver/assets/images/register/image_template2.jpg
  clients/driver/assets/images/register/info.png
  clients/driver/assets/images/register/info_v1.png
  clients/driver/assets/images/register/person_info.png
  clients/driver/lib/configs/router.dart
  clients/driver/lib/functions/pick_image.dart
  clients/driver/lib/screens/register_screen/info_detail/id_person.dart
  clients/driver/lib/screens/register_screen/info_detail/person_image.dart
  clients/driver/lib/screens/register_screen/info_register.dart
  clients/driver/lib/screens/register_screen/otp_screen.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_person_infor.dart
  clients/driver/lib/screens/register_screen/select_service.dart
  clients/driver/lib/services/dio_client.dart
  clients/driver/lib/widgets/app_bar.dart
  clients/driver/lib/widgets/build_pick_date.dart
  clients/driver/lib/widgets/build_text_field.dart
  clients/driver/lib/widgets/city_dropdown.dart
  clients/driver/lib/widgets/item_info.dart
  clients/driver/lib/widgets/service_bottomsheet.dart
  clients/driver/macos/Podfile.lock
  clients/driver/pubspec.lock
  clients/driver/pubspec.yaml
Due: none

admin be for service approval
  clients/admin/src/components/Content/ContentComponent.tsx
  servers/admin/.env
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/dummy_data/service_approval_data.ts
  servers/admin/common/dummy_data/service_data.ts
  servers/admin/common/dummy_data/vehicle_data.ts
  servers/admin/common/models/service.model.ts
  servers/admin/common/models/serviceApproval.model.ts
  servers/admin/common/models/user.example.model.ts
  servers/admin/common/models/vehicle.model.ts
  servers/grpc/models/demand.ts
  servers/grpc/models/supply.ts
  servers/supply/.env
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/controllers/index.ts
  servers/supply/common/controllers/user.example.controller.ts
  servers/supply/common/dummy_data/mongoose_data.ts
  servers/supply/common/models/driver.model.ts
  servers/supply/common/protos/drivers.proto.ts
Due: run-build-supply-service-job, run-build-admin-client-job, run-build-all-server-service-job

handle be for update image using cloudinary
  servers/admin/.env
  servers/supply/.env
  servers/supply/common/background_desktop.jpg
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/controllers/index.ts
  servers/supply/common/controllers/user.example.controller.ts
  servers/supply/common/multer.ts
Due: run-build-supply-service-job

fix bug prefer const
  servers/admin/common/dummy_data/service_approval_data.ts
  servers/admin/common/dummy_data/service_data.ts
  servers/admin/common/dummy_data/vehicle_data.ts
  servers/supply/common/dummy_data/mongoose_data.ts
Due: run-build-supply-service-job

register, verify user registration, resend otp api for driver
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/dummy_data/service_approval_data.ts
  servers/admin/common/dummy_data/service_data.ts
  servers/admin/common/dummy_data/vehicle_data.ts
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/dummy_data/mongoose_data.ts
Due: run-build-supply-service-job

fix: login screen / otp screen, config: firebase
  clients/driver/android/app/build.gradle
  clients/driver/android/app/google-services.json
  clients/driver/android/build.gradle
  clients/driver/android/settings.gradle
  clients/driver/assets/images/login/background.png
  clients/driver/assets/images/register/note.png
  clients/driver/assets/logo-hori.png
  clients/driver/lib/animations/transitions.dart
  clients/driver/lib/app.dart
  clients/driver/lib/configs/router.dart
  clients/driver/lib/configs/themes/theme.dart
  clients/driver/lib/constants/regex.dart
  clients/driver/lib/data/data.dart
  clients/driver/lib/firebase/auth/google_sign_in.dart
  clients/driver/lib/firebase/auth/phone_sign_in.dart
  clients/driver/lib/firebase/firebase_options.dart
  clients/driver/lib/main.dart
  clients/driver/lib/models/user_register.dart
  clients/driver/lib/models/user_register.g.dart
  clients/driver/lib/providers/auth_provider.dart
  clients/driver/lib/screens/login_screen.dart
  clients/driver/lib/screens/register_screen/otp_screen.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/lib/widgets/bottom_selector.dart
  clients/driver/lib/widgets/button.dart
  clients/driver/lib/widgets/divider.dart
  clients/driver/lib/widgets/login_screen/footer/divider.dart
  clients/driver/lib/widgets/login_screen/footer/footer.dart
  clients/driver/lib/widgets/login_screen/header/header.dart
  clients/driver/macos/Flutter/GeneratedPluginRegistrant.swift
  clients/driver/pubspec.lock
  clients/driver/pubspec.yaml
  clients/driver/windows/flutter/generated_plugin_registrant.cc
  clients/driver/windows/flutter/generated_plugins.cmake
Due: none

fix pubspec file
  clients/driver/pubspec.yaml
Due: none

add properties for driver
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
  servers/grpc/models/supply.ts
  servers/grpc/protos/supply.proto
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/dummy_data/dummy_data.js
  servers/supply/common/dummy_data/mongoose_data.ts
  servers/supply/common/models/driver.model.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

implement grpc from supply to admin
  clients/driver/pubspec.lock
  servers/admin/common/controllers/index.ts
  servers/admin/common/controllers/serviceApproval.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
  servers/admin/common/dummy_data/service_approval_data.ts
  servers/admin/common/models/serviceApproval.model.ts
  servers/admin/common/protos/admin.proto.ts
  servers/grpc/models/admin.ts
  servers/grpc/protos/admin.proto
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/dummy_data/dummy_data.js
  servers/supply/common/services/admin.service.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

handle be for driver
  servers/admin/common/controllers/serviceApproval.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
  servers/admin/common/dummy_data/service_approval_data.ts
  servers/admin/common/models/serviceApproval.model.ts
  servers/admin/common/protos/admin.proto.ts
  servers/admin/common/services/grpc.ts
  servers/grpc/models/admin.ts
  servers/grpc/models/supply.ts
  servers/grpc/protos/admin.proto
  servers/grpc/protos/supply.proto
  servers/supply/common/app.ts
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/dummy_data/dummy_data.js
  servers/supply/common/dummy_data/mongoose_data.ts
  servers/supply/common/models/driver.model.ts
  servers/supply/common/multer.ts
  servers/supply/common/services/admin.service.ts
  servers/supply/common/services/grpc.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

api for business case 1
  servers/admin/common/controllers/serviceApproval.controller.ts
  servers/admin/common/protos/admin.proto.ts
  servers/admin/common/services/mailer.builder.ts
  servers/supply/common/controllers/driver.controller.ts
Due: run-build-supply-service-job

fix bug
  clients/customer/android/app/src/main/AndroidManifest.xml
  clients/customer/ios/Runner/AppDelegate.swift
  clients/customer/lib/app.dart
  clients/customer/lib/routes.dart
  clients/customer/lib/screens/create_route/components/arrival_location_picker.dart
  clients/customer/lib/screens/create_route/components/departure_location_picker.dart
  clients/customer/lib/screens/create_route/components/my_map.dart
  clients/customer/lib/screens/create_route/create_route.dart
  clients/customer/lib/screens/home/components/map_picker.dart
  clients/customer/lib/screens/home/home.dart
  clients/customer/lib/screens/search/components/search_area.dart
  clients/customer/lib/screens/search/components/suggestion_area/components/recently_suggestions.dart
  clients/customer/lib/screens/search/components/suggestion_area/components/search_suggestions.dart
  clients/customer/lib/screens/search/components/suggestion_area/suggestion_area.dart
  clients/customer/lib/screens/search/search.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/widgets/find_from_map_button.dart
  clients/customer/lib/widgets/search_input.dart
  clients/customer/pubspec.lock
Due: none

TV: api, state
  clients/driver/.env
  clients/driver/analysis_options.yaml
  clients/driver/lib/configs/router.dart
  clients/driver/lib/main.dart
  clients/driver/lib/models/driver_info_register.dart
  clients/driver/lib/models/driver_model.dart
  clients/driver/lib/models/driver_service.dart
  clients/driver/lib/providers/driver_info_register.dart
  clients/driver/lib/providers/driver_provider.dart
  clients/driver/lib/screens/register_screen/info_detail/id_person.dart
  clients/driver/lib/screens/register_screen/info_detail/person_image.dart
  clients/driver/lib/screens/register_screen/info_register.dart
  clients/driver/lib/screens/register_screen/otp_screen.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_id_before.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_person_infor.dart
  clients/driver/lib/screens/register_screen/select_service.dart
  clients/driver/lib/services/dio_client.dart
  clients/driver/lib/widgets/service_bottomsheet.dart
  clients/driver/pubspec.lock
  clients/driver/pubspec.yaml
Due: none

add api for update identity information
  servers/admin/common/dummy_data/dummy_data.js
  servers/admin/common/dummy_data/service_approval_data.ts
  servers/admin/common/models/serviceApproval.model.ts
  servers/admin/common/protos/admin.proto.ts
  servers/grpc/models/admin.ts
  servers/grpc/protos/admin.proto
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/services/admin.service.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

TV: update api
  clients/driver/lib/models/driver_model.dart
  clients/driver/lib/providers/driver_provider.dart
  clients/driver/lib/screens/register_screen/info_detail/id_person.dart
  clients/driver/lib/screens/register_screen/info_detail/person_image.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_id_after.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_id_before.dart
Due: none

update API for admin
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
  clients/admin/src/components/Details/step4content.tsx
  clients/admin/src/interfaces/driver.tsx
Due: run-build-admin-client-job

update url initialization for service approvals
  servers/admin/common/controllers/serviceApproval.controller.ts
  servers/admin/common/dummy_data/dummy_data.js
Due: none

update UI admin
  clients/admin/src/assets/images/no_img.jpg
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
  clients/admin/src/components/Details/step4content.tsx
Due: run-build-admin-client-job

update driverLicense img
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step4content.tsx
Due: run-build-admin-client-job

add function to update avatar for driver
  servers/supply/common/controllers/driver.controller.ts
Due: run-build-supply-service-job

fix bug
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Navbar/Navbar.tsx
Due: run-build-admin-client-job

fix UI admin
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
Due: run-build-admin-client-job

add email to req in register
  servers/supply/common/controllers/driver.controller.ts
Due: run-build-supply-service-job

TV:
  clients/driver/lib/screens/register_screen/info_detail/driving_register.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/lib/screens/register_screen/select_service.dart
Due: none

TV: updatw UI email
  clients/driver/lib/screens/register_screen/info_register.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
Due: none

email for delete approvals
  servers/admin/common/controllers/serviceApproval.controller.ts
Due: none

fix bug
  clients/driver/.env
  clients/driver/lib/screens/register_screen/info_register.dart
  clients/driver/pubspec.lock
Due: none

fix eslint admin
  clients/driver/lib/animations/transitions.dart
  clients/driver/lib/main.dart
  servers/admin/common/protos/admin.proto.ts
Due: none

trigger rebuild all service
  clients/admin/package-lock.json
  servers/admin/package-lock.json
  servers/grpc/protos/admin.proto
Due: run-build-admin-client-job, run-build-all-server-service-job

trigger rebuild all service
  clients/driver/.env
  servers/grpc/protos/supply.proto
  servers/supply/common/protos/drivers.proto.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

load env file driver
  clients/driver/lib/main.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/pubspec.lock
Due: none

load env file driver
  clients/driver/lib/main.dart
Due: none

load env file driver
  clients/driver/lib/screens/register_screen/register_screen.dart
Due: none

add identityCard img
  clients/admin/src/components/Details/index.tsx
Due: run-build-admin-client-job

fix bug render img size
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
  clients/admin/src/components/Details/step4content.tsx
Due: run-build-admin-client-job

use auth0 for authentication in admin
  clients/admin/.env
  clients/admin/package-lock.json
  clients/admin/package.json
  clients/admin/src/components/Authentication/auth0-provider-with-navigate.tsx
  clients/admin/src/components/Authentication/authentication-guard.tsx
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Navbar/Navbar.tsx
  clients/admin/src/index.tsx
  clients/admin/src/pages/callback-page.tsx
  clients/admin/src/pages/page-loader.tsx
  clients/admin/src/routes/AppRoutes.tsx
  clients/admin/src/utils/axiosClient.ts
  servers/admin/.env
  servers/admin/common/app.ts
  servers/admin/common/configs/cors.config.ts
  servers/admin/common/constants/whitelist.origins.ts
  servers/admin/common/controllers/serviceApproval.controller.ts
  servers/admin/common/middlewares/auth0.middleware.ts
  servers/admin/package-lock.json
  servers/admin/package.json
Due: run-build-admin-client-job

add create route screen
  clients/customer/android/app/src/main/AndroidManifest.xml
  clients/customer/ios/Podfile.lock
  clients/customer/ios/Runner/AppDelegate.swift
  clients/customer/lib/providers/routeProvider.dart
  clients/customer/lib/screens/create_route/components/book_car/book_car.dart
  clients/customer/lib/screens/create_route/components/book_car/choose_payment_method.dart
  clients/customer/lib/screens/create_route/components/book_car/discount_page.dart
  clients/customer/lib/screens/create_route/components/departure_location_picker.dart
  clients/customer/lib/screens/create_route/components/my_map.dart
  clients/customer/lib/screens/create_route/create_route.dart
  clients/customer/lib/screens/search/components/suggestion_area/components/search_suggestions.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/widgets/car_card_item.dart
  clients/customer/pubspec.lock
Due: none

add draggable animation
  clients/customer/lib/screens/create_route/components/my_map.dart
  clients/customer/lib/screens/create_route/create_route.dart
Due: none
