Repository KabGo-Capstone/KabGo-General: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-supply-service-job, run-build-demand-service-job, run-build-admin-client-job, run-build-all-server-service-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
    path-filtering: circleci/path-filtering@0.1.1

workflows:
    detect-commit-changes:
        jobs:
            - path-filtering/filter:
                  name: check-updated-files
                  mapping: |
                      servers/supply/.* run-build-supply-service-job true
                      servers/demand/.* run-build-demand-service-job true
                      clients/admin/.* run-build-admin-client-job true
                      servers/grpc/.* run-build-all-server-service-job true
                  base-revision: main
                  config-path: .circleci/continue_config.yml

feat: authentication with firebase google and phonenumber for driver
  clients/driver/.env
  clients/driver/lib/animations/transitions.dart
  clients/driver/lib/configs/router.dart
  clients/driver/lib/constants/regex.dart
  clients/driver/lib/firebase/auth/google_sign_in.dart
  clients/driver/lib/firebase/auth/phone_sign_in.dart
  clients/driver/lib/main.dart
  clients/driver/lib/models/driver_service.dart
  clients/driver/lib/models/driver_service.g.dart
  clients/driver/lib/models/user_register.dart
  clients/driver/lib/models/user_register.g.dart
  clients/driver/lib/providers/auth_provider.dart
  clients/driver/lib/providers/driver_info_register.dart
  clients/driver/lib/screens/login_screen.dart
  clients/driver/lib/screens/register_screen/info_register.dart
  clients/driver/lib/screens/register_screen/otp_screen.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/lib/screens/register_screen/select_service.dart
  clients/driver/lib/screens/splash_screen.dart
  clients/driver/lib/services/dio_client.dart
  clients/driver/lib/widgets/bottom_selector.dart
  clients/driver/lib/widgets/button.dart
  clients/driver/lib/widgets/login_screen/footer/footer.dart
  clients/driver/lib/widgets/shake_error.dart
  clients/driver/macos/Flutter/GeneratedPluginRegistrant.swift
  clients/driver/pubspec.lock
  clients/driver/pubspec.yaml
  servers/admin/common/protos/admin.proto.ts
  servers/grpc/models/admin.ts
  servers/grpc/models/supply.ts
  servers/grpc/protos/admin.proto
  servers/grpc/protos/supply.proto
  servers/supply/common/constants/regex.ts
  servers/supply/common/controllers/driver.controller.ts
  servers/supply/common/dummy_data/mongoose_data.ts
  servers/supply/common/firebase/firebase-adminsdk.json
  servers/supply/common/firebase/firebase.ts
  servers/supply/common/models/driver.model.ts
  servers/supply/common/services/admin.service.ts
  servers/supply/common/utils/validators/phonenumber.decorator.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

[Update] update create route screen
  clients/customer/lib/assets/images/car4.png
  clients/customer/lib/assets/images/car4comfort.png
  clients/customer/lib/assets/images/car7.png
  clients/customer/lib/assets/images/car7comfort.png
  clients/customer/lib/assets/images/car7economy.png
  clients/customer/lib/assets/images/moto.png
  clients/customer/lib/assets/images/moto_comfort.png
  clients/customer/lib/data/data.dart
  clients/customer/lib/screens/create_route/components/book_car/book_car.dart
  clients/customer/lib/screens/create_route/create_route.dart
  clients/customer/lib/widgets/car_card_item.dart
Due: none

fix bug undefined name of admin when have empty service id
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Details/step1content.tsx
Due: run-build-admin-client-job

refactor: UI & Logic Auth driver application
  clients/admin/package.json
  clients/admin/public/index.html
  clients/driver/.env
  clients/driver/lib/animations/transitions.dart
  clients/driver/lib/configs/router.dart
  clients/driver/lib/screens/login_screen.dart
  clients/driver/lib/screens/register_screen/info_detail/driving_license.dart
  clients/driver/lib/screens/register_screen/info_detail/driving_register.dart
  clients/driver/lib/screens/register_screen/info_detail/email_info.dart
  clients/driver/lib/screens/register_screen/info_detail/emergency_contact.dart
  clients/driver/lib/screens/register_screen/info_detail/id_person.dart
  clients/driver/lib/screens/register_screen/info_detail/person_image.dart
  clients/driver/lib/screens/register_screen/info_detail/vehicle_info.dart
  clients/driver/lib/screens/register_screen/info_detail/vehicle_insurance.dart
  clients/driver/lib/screens/register_screen/info_register.dart
  clients/driver/lib/screens/register_screen/otp_screen.dart
  clients/driver/lib/screens/register_screen/register_screen.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_certificate_after.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_certificate_before.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_id_after.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_id_before.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_insurance_after.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_insurance_before.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_license_after.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_license_before.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_person_infor.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_vehicle_back.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_vehicle_front.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_vehicle_left.dart
  clients/driver/lib/screens/register_screen/remind_info/remind_vehicle_right.dart
  clients/driver/lib/screens/register_screen/select_service.dart
  clients/driver/lib/widgets/app_bar.dart
  clients/driver/lib/widgets/bottom_menu.dart
  servers/supply/common/controllers/driver.controller.ts
Due: run-build-supply-service-job, run-build-admin-client-job

fix: change build command for copy admin-sdk.json
  clients/driver/lib/configs/router.dart
  servers/supply/package.json
Due: run-build-supply-service-job

fix: change copy build file directory
  servers/supply/package.json
Due: run-build-supply-service-job

trigger: deploy all service
  clients/driver/.env
  docker-compose/docker-compose-prod.yml
Due: none

feat: adding production for supply grpc to admin
  clients/driver/.env
  docker-compose/docker-compose-prod.yml
Due: none

[Refactor] refactor performance my_map widget
  clients/customer/android/app/src/main/AndroidManifest.xml
  clients/customer/ios/Runner/AppDelegate.swift
  clients/customer/lib/data/data.dart
  clients/customer/lib/providers/driverProvider.dart
  clients/customer/lib/screens/create_route/components/arrival_location_picker.dart
  clients/customer/lib/screens/create_route/components/book_car/book_car.dart
  clients/customer/lib/screens/create_route/components/departure_location_picker.dart
  clients/customer/lib/screens/create_route/components/find_driver/find_driver_screen.dart
  clients/customer/lib/screens/create_route/components/my_map.dart
  clients/customer/lib/screens/create_route/components/wait_driver_panel/notification_bottom_sheet.dart
  clients/customer/lib/screens/create_route/components/wait_driver_panel/wait_driver_panel.dart
  clients/customer/lib/screens/create_route/create_route.dart
  clients/customer/lib/screens/home/components/map_picker.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/widgets/car_card_item.dart
Due: none

[Feat] Implement UI login and login with phone
  clients/customer/lib/app.dart
  clients/customer/lib/assets/images/apple_logo.png
  clients/customer/lib/assets/images/facebook_logo.png
  clients/customer/lib/assets/images/phone_logo.png
  clients/customer/lib/assets/images/vietnam_flag.png
  clients/customer/lib/screens/authen/login/function/get_data_mobile_phone.dart
  clients/customer/lib/screens/authen/login/function/submit_authen.dart
  clients/customer/lib/screens/authen/login/login_phone_screen.dart
  clients/customer/lib/screens/authen/login/login_screen.dart
  clients/customer/lib/screens/authen/login/widget/choose_phone.dart
  clients/customer/lib/screens/authen/login/widget/login_item.dart
  clients/customer/lib/screens/authen/signup/signup_screen.dart
  clients/customer/lib/utils/helper.dart
Due: none

config conduktor
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/driver/.env
  clients/driver/ios/Flutter/AppFrameworkInfo.plist
  clients/driver/ios/Runner.xcodeproj/project.pbxproj
  clients/driver/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  clients/driver/pubspec.lock
  conduktor/README.md
  conduktor/docker-compose.yml
  conduktor/jmx-exporter.yml
  conduktor/launch.sh
  conduktor/platform-config.yaml
  conduktor/utils-local.sh
Due: run-build-admin-client-job

[feat] simulate customer app
  PoC/demand/.babelrc
  PoC/demand/.dockerignore
  PoC/demand/.env
  PoC/demand/.eslintrc.json
  PoC/demand/.gitignore
  PoC/demand/.prettierrc.json
  PoC/demand/Dockerfile
  PoC/demand/Dockerfile.production
  PoC/demand/__tests__/health-check.test.js
  PoC/demand/client.ts
  PoC/demand/logs/.gitkeep
  PoC/demand/package-lock.json
  PoC/demand/package.json
  PoC/demand/types/index.d.ts
Due: none

[feat] simulate driver app
  PoC/supply/.babelrc
  PoC/supply/.dockerignore
  PoC/supply/.env
  PoC/supply/.eslintrc.json
  PoC/supply/.gitignore
  PoC/supply/.prettierrc.json
  PoC/supply/Dockerfile
  PoC/supply/Dockerfile.production
  PoC/supply/__tests__/health-check.test.js
  PoC/supply/client.ts
  PoC/supply/exec.js
  PoC/supply/logs/.gitkeep
  PoC/supply/package-lock.json
  PoC/supply/package.json
  PoC/supply/tsconfig.json
  PoC/supply/types/index.d.ts
Due: none

[fix] move conduktor to PoC folder
  PoC/conduktor/README.md
  PoC/conduktor/docker-compose.yml
  PoC/conduktor/jmx-exporter.yml
  PoC/conduktor/launch.sh
  PoC/conduktor/platform-config.yaml
  PoC/conduktor/utils-local.sh
Due: none

[fix] driver .env file
  clients/driver/.env
  conduktor/README.md
  conduktor/docker-compose.yml
  conduktor/jmx-exporter.yml
  conduktor/launch.sh
  conduktor/platform-config.yaml
  conduktor/utils-local.sh
Due: none

[Feat] handle booking car, show driver, draw route driver
  clients/customer/android/app/src/main/AndroidManifest.xml
  clients/customer/ios/Runner/AppDelegate.swift
  clients/customer/lib/app.dart
  clients/customer/lib/functions/determinePosition.dart
  clients/customer/lib/models/driver_model.dart
  clients/customer/lib/models/route_model.dart
  clients/customer/lib/providers/driverProvider.dart
  clients/customer/lib/providers/socketProvider.dart
  clients/customer/lib/screens/create_route/components/book_car/book_car.dart
  clients/customer/lib/screens/create_route/components/complete_panel/complete_panel.dart
  clients/customer/lib/screens/create_route/components/find_driver/find_driver_screen.dart
  clients/customer/lib/screens/create_route/components/wait_driver_panel/notification_bottom_sheet.dart
  clients/customer/lib/screens/create_route/components/wait_driver_panel/wait_driver_panel.dart
  clients/customer/lib/screens/create_route/components/widgets/arrival_location_picker.dart
  clients/customer/lib/screens/create_route/components/widgets/book_car_panel.dart
  clients/customer/lib/screens/create_route/components/widgets/car_selection_panel.dart
  clients/customer/lib/screens/create_route/components/widgets/current_location_widget.dart
  clients/customer/lib/screens/create_route/components/widgets/departure_location_picker.dart
  clients/customer/lib/screens/create_route/components/widgets/location_picker_widget.dart
  clients/customer/lib/screens/create_route/components/widgets/my_map.dart
  clients/customer/lib/screens/create_route/components/widgets/route_information_widget.dart
  clients/customer/lib/screens/create_route/create_route.dart
  clients/customer/lib/screens/home/components/map_picker.dart
  clients/customer/lib/screens/home/home.dart
  clients/customer/lib/screens/search/components/search_area.dart
  clients/customer/lib/screens/search/components/suggestion_area/components/recently_suggestions.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/utils/logger.dart
  clients/customer/lib/widgets/loading_dialog.dart
  clients/customer/lib/widgets/search_input.dart
  clients/customer/macos/Runner.xcodeproj/project.pbxproj
  clients/customer/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  clients/customer/pubspec.lock
  clients/customer/pubspec.yaml
Due: none

fix null payment method
  clients/driver/lib/screens/customer_request/customer_request.dart
  clients/driver/lib/screens/customer_request/customer_request_accept.dart
  clients/driver/lib/screens/customer_request/customer_request_comming.dart
  clients/driver/lib/screens/customer_request/customer_request_ongoing.dart
  clients/driver/lib/screens/customer_request/customer_request_ready.dart
Due: none

fix user if not registerd
  clients/driver/lib/screens/customer_request/customer_request.dart
  clients/driver/lib/screens/login_screen.dart
  clients/driver/pubspec.lock
Due: none

trigger deploy
  servers/grpc/protos/demand.proto
Due: run-build-all-server-service-job

deploy admin with version
  servers/admin/common/app.ts
Due: none

update compose
  docker-compose/README.md
  docker-compose/docker-compose.yml
  docker-compose/jmx-exporter.yml
  docker-compose/launch.sh
  docker-compose/platform-config.yaml
  docker-compose/utils-local.sh
  docker-compose/vars.env
  servers/conduktor/docker-compose.yml
  servers/esdb/.gitignore
  servers/esdb/README.md
  servers/esdb/docker-compose.yml
Due: none

revert
  docker-compose/docker-compose.yml
  servers/conduktor/README.md
  servers/conduktor/docker-compose.yml
  servers/conduktor/jmx-exporter.yml
  servers/conduktor/launch.sh
  servers/conduktor/platform-config.yaml
  servers/conduktor/utils-local.sh
  servers/esdb/.gitignore
  servers/esdb/README.md
  servers/esdb/docker-compose.yml
  servers/esdb/vars.env
Due: none

fix esdb
  servers/trip/common/controllers/trip.controller.ts
Due: none

fix esdb
  servers/trip/common/app.ts
Due: none

replicas admin services
  docker-compose/docker-compose-prod.yml
  servers/admin/common/app.ts
Due: none

fix docker nam
  docker-compose/docker-compose-prod.yml
Due: none
