Repository KabGo-Capstone/KabGo-General: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-supply-service-job, run-build-demand-service-job, run-build-admin-client-job, run-build-all-server-service-job

.circleci/config.yml:

version: 2.1

setup: true

orbs:
    path-filtering: circleci/path-filtering@0.1.1

workflows:
    detect-commit-changes:
        jobs:
            - path-filtering/filter:
                  name: check-updated-files
                  mapping: |
                      servers/supply/.* run-build-supply-service-job true
                      servers/demand/.* run-build-demand-service-job true
                      clients/admin/.* run-build-admin-client-job true
                      servers/grpc/.* run-build-all-server-service-job true
                  base-revision: main
                  config-path: .circleci/continue_config.yml

create grpc unverify
  servers/admin/common/controllers/driver.controller.ts
  servers/admin/common/services/apollo.ts
  servers/admin/common/services/supply.service.ts
  servers/grpc/models/supply.ts
  servers/grpc/protos/supply.proto
  servers/supply/common/protos/drivers.proto.ts
Due: run-build-supply-service-job, run-build-all-server-service-job

fix merge conflict
  servers/admin/common/services/apollo.ts
Due: none

expose port for GraphQL server
  docker-compose/docker-compose-prod.yml
  docker-compose/docker-compose.yml
  servers/admin/Dockerfile
  servers/admin/Dockerfile.production
Due: none

fix bug
  clients/admin/src/components/Content/ContentComponent.tsx
Due: run-build-admin-client-job

fix bug
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/interfaces/driver.tsx
Due: run-build-admin-client-job

config graphQL running on admin server instance
  servers/admin/common/app.ts
  servers/admin/common/services/apollo.ts
Due: none

remove expose port 4003 for graphql
  docker-compose/docker-compose-prod.yml
  docker-compose/docker-compose.yml
  servers/admin/Dockerfile
  servers/admin/Dockerfile.production
Due: none

graphql draft
  clients/admin/package-lock.json
  clients/admin/package.json
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/index.tsx
  clients/admin/src/layouts/BaseLayout.tsx
Due: run-build-admin-client-job

production client env
  docker-compose/docker-compose-prod.yml
Due: none

config grpc proxy
  docker-compose/docker-compose-prod.yml
Due: none

config grpc proxy for demand and admin
  docker-compose/docker-compose-prod.yml
Due: none

change the service approval column's title
  clients/admin/src/components/Content/ContentComponent.tsx
  servers/admin/common/services/apollo.ts
Due: run-build-admin-client-job

change uri in ApolloClient config
  clients/admin/src/index.tsx
  servers/admin/common/services/apollo.ts
Due: run-build-admin-client-job

fix: config grpc proxy
  docker-compose/docker-compose-prod.yml
Due: none

clean grpc proxy
  docker-compose/docker-compose-prod.yml
Due: none

finish [GRAPH] APIs for service approval business logic
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/graph_queries/queries.ts
  servers/admin/common/services/apollo.ts
Due: run-build-admin-client-job

update grpc proxy of supply service
  docker-compose/docker-compose-prod.yml
Due: none

remove grpc proxy
  docker-compose/docker-compose-prod.yml
Due: none

update env for production
  docker-compose/docker-compose-prod.yml
  docker-compose/docker-compose.yml
  servers/admin/common/services/demand.service.ts
  servers/demand/common/services/supply.service.ts
  servers/supply/common/services/demand.service.ts
Due: run-build-supply-service-job, run-build-demand-service-job

update env for admin connect supply stub
  servers/admin/common/services/supply.service.ts
Due: none

create readme for description and instruction
  README.md
  servers/grpc/build.sh
Due: run-build-all-server-service-job

change description to text
  README.md
Due: none

fix word spell
  README.md
Due: none

[Refactor] Setup localization
  clients/customer/lib/app.dart
  clients/customer/lib/assets/translations/en.json
  clients/customer/lib/assets/translations/vi.json
  clients/customer/lib/constants/key_translate.dart
  clients/customer/lib/data/data.dart
  clients/customer/lib/main.dart
  clients/customer/lib/providers/app_language.dart
  clients/customer/lib/screens/find_arrival_page/find_arrival_page.dart
  clients/customer/lib/screens/home_panel/home_panel.dart
  clients/customer/lib/screens/menu_screen/menu_screen.dart
  clients/customer/lib/screens/menu_screen/setting_language/setting_language.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/widgets/input_custom.dart
  clients/customer/macos/Flutter/GeneratedPluginRegistrant.swift
  clients/customer/pubspec.lock
  clients/customer/pubspec.yaml
Due: none

update UI admin
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step3content.tsx
  clients/admin/src/components/Details/step4content.tsx
Due: run-build-admin-client-job

update UI admin
  clients/admin/src/components/Details/index.tsx
Due: run-build-admin-client-job

update deploy link
  README.md
Due: none

update admin UI
  clients/admin/src/components/Details/index.tsx
  clients/admin/src/components/Details/step1content.tsx
  clients/admin/src/components/Details/step2content.tsx
  clients/admin/src/components/Details/step4content.tsx
Due: run-build-admin-client-job

feat: Service Approval Management table UI
  clients/admin/src/components/Content/ContentComponent.tsx
  clients/admin/src/components/Navbar/Navbar.tsx
  clients/admin/src/components/Sidebar/Sidebar.tsx
  clients/admin/src/index.tsx
Due: run-build-admin-client-job

update env for prod
  clients/admin/.env
  clients/admin/src/utils/axiosClient.ts
Due: run-build-admin-client-job

update env apollo for prod
  clients/admin/src/index.tsx
Due: run-build-admin-client-job

update env docker prod
  docker-compose/docker-compose-prod.yml
Due: none

update build env production docker for admin client
  clients/admin/Dockerfile.prod
  docker-compose/docker-compose-prod.yml
Due: run-build-admin-client-job

add cors config to apollo server
  servers/admin/common/app.ts
Due: none

fix: add cors config to apollo server
  servers/admin/common/app.ts
Due: none

up date location picker
  clients/customer/android/app/src/main/AndroidManifest.xml
  clients/customer/ios/Runner/AppDelegate.swift
  clients/customer/lib/app.dart
  clients/customer/lib/assets/images/map_arrival_icon.png
  clients/customer/lib/assets/images/map_departure_icon.png
  clients/customer/lib/data/data.dart
  clients/customer/lib/functions/getBytesFromAsset.dart
  clients/customer/lib/providers/currentLocationProvider.dart
  clients/customer/lib/providers/mapProvider.dart
  clients/customer/lib/providers/stepProvider.dart
  clients/customer/lib/screens/create_route/components/arrival_location_picker.dart
  clients/customer/lib/screens/create_route/components/departure_location_picker.dart
  clients/customer/lib/screens/create_route/components/my_map.dart
  clients/customer/lib/screens/create_route/create_route.dart
  clients/customer/lib/screens/home/components/favorite_location.dart
  clients/customer/lib/screens/home/components/find_arrival_button.dart
  clients/customer/lib/screens/home/components/hot_location.dart
  clients/customer/lib/screens/home/components/map_picker.dart
  clients/customer/lib/screens/home/components/more_way_to_move.dart
  clients/customer/lib/screens/home/home.dart
  clients/customer/lib/screens/search/components/search_area.dart
  clients/customer/lib/screens/search/components/suggestion_area/components/recently_suggestions.dart
  clients/customer/lib/screens/search/components/suggestion_area/components/search_suggestions.dart
  clients/customer/lib/screens/search/components/suggestion_area/suggestion_area.dart
  clients/customer/lib/screens/search/search.dart
  clients/customer/lib/utils/google_api_key.dart
  clients/customer/lib/widgets/current_location_button.dart
  clients/customer/lib/widgets/current_location_item.dart
  clients/customer/lib/widgets/favorite_location_item.dart
  clients/customer/lib/widgets/find_from_map_button.dart
  clients/customer/lib/widgets/saved_location_item.dart
  clients/customer/lib/widgets/search_input.dart
Due: none

adding loading animation & pagination
  clients/admin/src/components/Content/ContentComponent.tsx
Due: run-build-admin-client-job

Update README.md
  README.md
Due: none

clean docker prod yml file
  docker-compose/docker-compose-prod.yml
Due: none
